server {
	listen 80;

    root    /var/www/{{ domain_zones }}.{{ my_domain }}/wordpress;

	server_name {{ domain_zones }}.{{ my_domain }};

	index index.php;

	autoindex off;

	location = /favicon.ico {
		log_not_found off;
		access_log off;
	}
	location = /robots.txt {	
		 allow all;
		log_not_found off;
		access_log off;
	}


	location ~ /\. {
		deny all;
	}


	location ~ ^/wp-content/cache { deny all; }


	location ~* /(?:uploads|files)/.*\.php$ {
		deny all;
	}

	location ~* ^.+\.(jpg|jpeg|png|ico|gif|swf|webp|srv)$ { expires 3w; gzip off; }
	location ~* ^.+\.(css|js)$ { expires 7d; add_header Vary Accept-Encoding; }
	location ~* ^.+\.(eot|ttf|woff|woff2)$ { expires 92d; add_header Vary Accept-Encoding; }


	location ~ \.php$ {
		include fastcgi.conf;
		fastcgi_intercept_errors on;

		fastcgi_pass unix:/run/php/php{{ php_ver }}-fpm.sock;
        }

	location / { try_files $uri $uri/ /index.php?$args; }

}