server {
	listen 443;
#	listen [::]:80;
# Путь к папке с файлами сайта (корню)
        root    /var/www/{{ domain_zones }}.{{ my_domain }}/wordpress;
# Это адрес сайта
	server_name {{ domain_zones }}.{{ my_domain }};
# Файл индекса сайта.
	index index.php;
# А вот показ индекса файлов в папках без файла-индекса отключим
	autoindex off;
# Журнал доступа может быть записан в отдельный файл с отложенной записью
#access_log  /var/log/jinx/{{ domain_zones }}.{{ my_domain }}.log main buffer=2k flush=30s;
# А для некоторых файлов журнал доступа можно и вовсе отключить
	location = /favicon.ico {
		log_not_found off;
		access_log off;
	}
	location = /robots.txt {	
		 allow all;
		log_not_found off;
		access_log off;
	}

# Закроем доступ к скрытым файлам (начинаются с точки)
	location ~ /\. {
		deny all;
	}

# Вот так можно закрыть доступ к папке кеша (плагинов)
	location ~ ^/wp-content/cache { deny all; }

# Запрет выполнения PHP в папках для загруженных файлов
	location ~* /(?:uploads|files)/.*\.php$ {
		deny all;
	}
# А директивы ниже показывают как можно установить заголовки кеширования для статических ресурсов (а также изменить сжатие gzip для нек>
	location ~* ^.+\.(jpg|jpeg|png|ico|gif|swf|webp|srv)$ { expires 3w; gzip off; }
	location ~* ^.+\.(css|js)$ { expires 7d; add_header Vary Accept-Encoding; }
	location ~* ^.+\.(eot|ttf|woff|woff2)$ { expires 92d; add_header Vary Accept-Encoding; }

# Не забываем добавить обработчик для PHP
	location ~ \.php$ {
		include fastcgi.conf;
		fastcgi_intercept_errors on;
#		fastcgi_param  SCRIPT_FILENAME  $root$fastcgi_script_name;
# Должен соответствовать имени, определенному в примере директивы upsteam выше.
#		fastcgi_pass php;
		fastcgi_pass unix:/run/php/php{{ php_ver }}-fpm.sock;
        }
# Ну и наконец, правила для "красивых постоянных ссылок"
	location / { try_files $uri $uri/ /index.php?$args; }
# поближе к закрытию контекста server
	
}
